<div class="row justify-content-center">
  <div class="col-auto col-lg-6">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="card-icon">
          <mat-icon>alternate_email</mat-icon>
        </div>
        <mat-card-title>Contact us!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Have a question or comment?  Send an email to <a href="mailto:{{contactEmail}}">{{contactEmail}}</a>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="mailto:{{contactEmail}}" mat-button color="accent">EMAIL</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>